.home {
  background: url(../images/yogabg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.main {
  background: url(../images/bg.png) no-repeat center fixed;
  background-size: cover;
  padding-top: 4em;
  padding-bottom: 4em;
}

.body {
  line-height: 1.5;
}

section.about,
section.news,
section.popular-classes,
.under-about,
section.gallery, section.contact,
section.footer {
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  padding: 80px 90px;
  /* box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.3); */
}

.footer {
    box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.3);
}

.nav {
  padding: 1em 2.5em 1.2em 0em;
  right: 0;
  top: 0;
  position: absolute;
  background-color: #05d3eb;
}

.nav ul {
  list-style: none;
  text-align: center;
}

.nav a {
  color: #fff;
  font-size: 17px;
  letter-spacing: 1px;
  display: block;
  margin: 18px 0px;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
}

a:hover {
  color: black;
  transition: ease-in-out 300ms;
}

.banner-center {
  padding: 15vw 0 16vw;
}

.banner-box {
  padding-top: 20px;
  max-width: 550px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.167);
  box-shadow: 7px 7px 10px 0 rgba(56, 56, 56, 0.21);
  padding: 3em;
}

.social-icons li {
  list-style: none;
  text-align: center;
  display: inline;
}

.social-icons {
  border-top: 1px solid rgba(255, 255, 255, 0.23);
  border-bottom: 1px solid rgba(255, 255, 255, 0.23);
  margin-top: 2px;
  margin-bottom: 2px;
  transform: rotate(-8deg);
  
}

.social {
  align-items: center;
}

.social-icons a {
  color: #fff;
  letter-spacing: 20px;
  padding-top: 20px;
  padding-bottom: inherit;
  text-decoration: none;
  
}

.social-icons a:hover {
  color: black;
  transition: ease-in-out 300ms;
}

.box-button {
  background: #fff;
  border: none;
  color: #333;
  font-size: 14px;
  font-weight: 600;
  padding: 13px 28px;
  margin-top: 3em;
  text-transform: uppercase;
}

.right-button {
  justify-content: right;
    display: grid;
}

.banner-box h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
}

.banner-box p {
  font-size: 14px;
  font-weight: 100;
  color: #efefef;
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.about,
.news,
.popular-classes,
.gallery {
  text-align: center;
}

.about p {
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 1.9;
  color: #888888;
}

.about h2.welcome {
  font-weight: 600;
  font-size: 40px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.about h3 {
  font-size: 21px;
}

.about h6 {
  line-height: 1.8;
  letter-spacing: 1px;
  font-size: 18px;
}

.about-content {
  text-align: left;
  width: 20%;
}

.about button {
  background: none;
  border-radius: 0px;
  border: 1px solid #333;
  color: #333;
  font-size: 14px;
  font-weight: 600;
  padding: 13px 28px;
  margin-top: 3em;
}

.about button:hover,
.under-about button:hover,
.box-button:hover {
  background-color: #888888;
  transition: ease-in-out 300ms;
}

.under-about button {
  background-color: black;
  border-radius: 0px;
  border: 1px solid #333;
  color: white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2.8px;
  padding: 10px 28px;
  margin-top: 5em;
  text-align: center;
}

.button-wrap {
  text-align: center;
}

.hr {
  border: none;
  height: 1.2px;
  background-color: red;
  width: 65px;
  margin-bottom: 55px;
}

.yoga-img {
  border: 2px solid #05d3eb;
  border-radius: 50%;
  padding: 6px;
}

.img-fluid {
  max-height: 100%;
  width: auto;
  margin: auto;
}

.card-header {
  background: none;
  border-bottom: none;
}

.card-header i {
  background: #05d3eb;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

div.bottom {
  padding-top: 60px;
}

.h4-p {
  margin-left: 3em;
  margin-right: 3em;
}

.under-about h4 {
  font-weight: bold;
}
.gal-col {
  padding-right: 0;
  padding-left: 0;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 1.9;
  color: #888888;
}

.icon-border {
  width: 80px;
  height: 80px;
  border: 2px solid rgba(180, 174, 174, 0.822);
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.under-about span {
  color: red;
  transform: rotate(-45deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-col {
  background: #fff;
  border: none;
  box-shadow: rgba(180, 174, 174, 0.822);
}

.gallery {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.gallery .img-fluid {
  height: 100%;
  width: 100%;
  padding: 10px 10px;
}

/* Contact form */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #05d3eb;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #05aaebea;
}

.form-con {
  border-radius: 5px;

  padding: 10px;
}

.form-col {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.form-row:after {
  content: "";
  display: table;
  clear: both;
}

.footer-icon:hover {
  color: #05d3eb;
}

.top {
  display: flex;
  justify-content: center;
}

@media (max-width: 575.98px) {
  .gallery .flex-row {
    flex-wrap: wrap;
  }
  section {
    box-shadow: none;
  }
  .main {
    background: #fff;
  }
  section.about, section.news, section.popular-classes, .under-about, section.gallery, section.contact, section.footer {
    padding: 5px;
    padding-top: 55px;
    padding-bottom: 20px;
  }

  .top, .bottom {
    flex-wrap: wrap;
    padding-top: 20px;

  }

  .about-icons {
    padding-top: 20px;
  }

  .h4-p {
    padding-top: 20px;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }

  .button-center {
    display: flex;
    justify-content: center;
  } 

  .clearfix {
    display: none;
  }

  .social-icons {
    justify-content: center;
  }

  .right-button {
    display: flex;
    justify-content: center;
  }

  .social{
    flex-direction: column;
  }
}


@media screen and (max-width: 600px) {
  .form-col, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

  .top, .bottom {
    flex-wrap: wrap;
    padding-top: 20px;

  }

  .h4-p {
    padding-top: 40px;
  }
  
  .about-icons {
    padding-top: 20px;
  }

  .yoga-circle {
    padding-bottom: 60px;
  }

  .button-center {
    display: flex;
    justify-content: center;
  } 
  .clearfix {
    display: none;
  }

}
  

@media (max-width: 768.98px) and (min-width: 576px) {
  .gallery .flex-row {
    flex-wrap: wrap;
  }

  .top, .bottom {
    flex-wrap: wrap;
    padding-top: 20px;

  }

  .h4-p {
    padding-top: 40px;
  }
  
  .about-icons {
    padding-top: 20px;
  }

  .button-center {
    display: flex;
    justify-content: center;
  } 
  .clearfix {
    display: none;
  }
  
}
@media (max-width: 991.98px) and (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .top, .bottom {
    flex-wrap: wrap;
    padding-top: 20px;

  }

  .h4-p {
    padding-top: 40px;
  }
  
  .about-icons {
    padding-top: 10px;
  }

  .button-center {
    display: flex;
    justify-content: center;
  } 
 
}
@media (max-width: 1199.98px) and (min-width: 992px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
  .top, .bottom {
    flex-wrap: wrap;
    padding-top: 20px;

  }

  .h4-p {
    padding-top: 40px;
  }
  
  .about-icons {
    padding-top: 10px;
  }
 
}
@media (min-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(5, 1fr);
  }
  .top, .bottom {
    padding-top: 20px;

  }

  .h4-p {
    padding-top: 40px;
  }
  
  .about-icons {
    padding-top: 10px;
  }


  .box-button {
    display: flex;
    justify-content: end;
  }
}