.home {
  background: url(./images/blog1.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}

.main {
  background: url(./images/bg.png) no-repeat center fixed;
  background-size: cover;
  padding-top: 4em;
  padding-bottom: 4em;
}

.body {
  line-height: 1.5;
}

section.about,
section.news,
section.popular-classes,
.under-about,
section.gallery {
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  padding: 90px;
  /* width: 1310px; */
  box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.3);
}

.nav {
  padding: 1em 2.5em 1.2em 0em;
  right: 0;
  top: 0;
  position: absolute;
  background-color: #05d3eb;
}

.nav ul {
  list-style: none;
  text-align: center;
}

.nav a {
  color: #fff;
  font-size: 17px;
  letter-spacing: 1px;
  display: block;
  margin: 18px 0px;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
}

a:hover {
  color: black;
  transition: ease-in-out 300ms;
}

.banner-center {
  padding: 15vw 0 16vw;
}

.banner-box {
  padding-top: 20px;
  max-width: 550px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.167);
  box-shadow: 7px 7px 10px 0 rgba(56, 56, 56, 0.21);
  padding: 3em;
}

.social-icons li {
  list-style: none;
  text-align: center;
  display: inline;
}

.social-icons {
  border-top: 1px solid rgba(255, 255, 255, 0.23);
  border-bottom: 1px solid rgba(255, 255, 255, 0.23);
  margin-top: 2px;
  margin-bottom: 2px;
  transform: rotate(-8deg);
}

.social-icons a {
  color: #fff;
  letter-spacing: 20px;
  padding-top: 20px;
  padding-bottom: inherit;
  text-decoration: none;
}

.social-icons a:hover {
  color: black;
  transition: ease-in-out 300ms;
}

.box-button {
  background: #fff;
  border: none;
  color: #333;
  font-size: 14px;
  font-weight: 600;
  padding: 13px 28px;
  margin-top: 3em;
  text-transform: uppercase;
}

.banner-box h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
}

.banner-box p {
  font-size: 14px;
  font-weight: 100;
  color: #efefef;
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.about,
.news,
.popular-classes,
.gallery {
  text-align: center;
}

.about p {
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 1.9;
  color: #888888;
}

.about h2.welcome {
  font-weight: 600;
  font-size: 40px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.about h3 {
  font-size: 21px;
}

.about h6 {
  line-height: 1.8;
  letter-spacing: 1px;
  font-size: 18px;
}

.about-content {
  text-align: left;
  width: 20%;
}

.about button {
  background: none;
  border-radius: 0px;
  border: 1px solid #333;
  color: #333;
  font-size: 14px;
  font-weight: 600;
  padding: 13px 28px;
  margin-top: 3em;
}

.about button:hover,
.under-about button:hover {
  background-color: #888888;
  transition: ease-in-out 300ms;
}

.under-about button {
  background-color: black;
  border-radius: 0px;
  border: 1px solid #333;
  color: white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2.8px;
  padding: 10px 28px;
  margin-top: 5em;
  text-align: center;
}

.button-wrap {
  text-align: center;
}

.hr {
  width: 65px;
  border: 1.2px solid red;
}

.yoga-img {
  border: 2px solid #05d3eb;
  border-radius: 50%;
  padding: 6px;
}

.img-fluid {
  max-height: 100%;
  width: auto;
  margin: auto;
}

.card-header {
  background: none;
  border-bottom: none;
}

.card-header i {
  background: #05d3eb;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

div.bottom {
  padding-top: 60px;
}

.h4-p {
  margin-left: 3em;
  margin-right: 3em;
}

.under-about h4 {
  font-weight: bold;
}
.col-md-8 .col-md-4 {
  padding-right: 0;
  padding-left: 0;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 1.9;
  color: #888888;
}

.icon-border {
  width: 80px;
  height: 80px;
  border: 2px solid rgba(180, 174, 174, 0.822);
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.under-about span {
  color: red;
  transform: rotate(-45deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-col {
  background: #fff;
  border: none;
  box-shadow: rgba(180, 174, 174, 0.822);
}

.gallery {
  display: flex;
  /* flex-wrap: wrap; */
  align-content: center;
  justify-content: space-between;
}

.gallery img {
  height: 100%;
  width: 100%;
  padding: 10px 10px;
}

@media (max-width: 575.98px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 768.98px) and (min-width: 576px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 991.98px) and (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1199.98px) and (min-width: 992px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(5, 1fr);
  }
}
